<!DOCTYPE html>
<html>
<head>
  <title>ListFromGithub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'hide_errors_window' %>
</head>

<body style="background-color: #999999" class="p-3">
<div class="container-fluid p-3 rounded rounded-2" style="background-color: #ffffff; height: calc(100vh - 2rem);">
  <div class="container py-3 rounded" style="background-color: #385170;">
    <%= render 'shared/header' %>
  </div>
  <%= render 'shared/errors_window' %>
  <%= yield %>
</div>
</body>
</html>
